body{
    margin: 0px;
}
.container{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.options-container{
    background-color: darkgray;
    width:30%;
    height: 100vh;
    padding: 20px 10px;
    position: absolute;
}

.options-container button{
    background-color: white;
    border-width: 0px;
    border-radius: 10px;
    height: 30px;
    width: 60%;
    margin: 10px;
    cursor: pointer;
}

.options-container a{
    min-width: 100%;
}

.user-section{
    position: absolute;
    margin-left: 80%;
    margin-top: 20px;
    margin-right: 20px;
    justify-content: left;
    display: inline-flex;
}

.user-section img{
    width: 80%;
    cursor: pointer;
}

.user-section h3{
    padding-top: 10px;
    width: 70%;
    justify-content: center;
}

.dropdown{
    width: 40%;
    position: relative;
    display: inline-block;
}

.dropdown-items{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-items a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-items a:hover {color: white;}
.show{display: block;}

