body{
    background-color: #E9E9E9;
    margin: 0;
}
.botaomenu{
    margin: 0;
    padding: 1rem 8rem;
    font-size: 40px;
    font-weight: 700;
    border: none;
    background-color: #000000;
    color: #FFFFFF;
}
span{
    color:#FFD600;
}
.container{
    background-color: #FFFFFF;    
    max-height: 80%;
    min-height: 32rem;
    max-width: 95%;
    min-width: auto;
    height: 32rem;
    margin: 2.5rem 1.5rem 1.5rem 1.5rem;
    border: 1px;
    border-style: solid;
    border-color: #3C3200;
    border-radius: 30px;
}
.texto_campo, .pass_campo{
    flex-direction: row;
    margin: 0.8rem 0;
    height: 1.3rem;
    width: 30rem;
    border: 1px #3C3200 solid;
    border-radius: 10px;
    padding: 0.7rem;
}
#senha_area{
    margin: 3rem 1.5rem;
}
#senha_campo{
    margin-left: 4.4rem;
}
#botoes_area{
    display: flex;
    justify-content: center;
}
.botaoamarelo, .botaopreto{
    margin:0 0.2rem;
    padding: 0.5rem 4.5rem;
    border: 1px #3C3200 solid;
    border-radius: 12px;
}
.botaoamarelo{
    background-color: #FFD600;
    color: #000000;
    font-weight: bolder;
}
.botaoamarelo:hover{
    background-color: #FFD91A;
    border: 1px #000000 solid;
}
.botaoamarelo:active{
    background-color: #E6BF00;
    border: 1px #000000 double;
}
.botaopreto{
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bolder;
}
.botaopreto:hover{
    background-color: #1A1A1A;
    border: 1px #FFFFFF solid;
    color: #FFFFFF;
}
.botaopreto:active{
    background-color: #0D0D0D;
}