#label_tela{
    margin: 2rem 1.5rem;
}
#info_area{
    margin: 3rem 1.5rem;
    margin-bottom: 0rem;
}
#disciplina_campo{
    margin-left: 3.3rem;
}
#horario_campo{
    margin-left: 3.94rem;
}
#professor_campo{
    margin-left: 3.5rem;
}
#local_campo{
    margin-left: 5.1rem;

}
#senha_area{
    margin-top: 0.2rem;
}

.select_campo{
    flex-direction: row;
    margin: 0.6rem 0;
    height: 1.6rem;
    width: 30rem;
    border: 1px #3C3200 solid;
    border-radius: 10px;
}

.alinhar{
    display: flex;
    align-items: center;
}