#label_tela{
    margin: 2rem 1.5rem;
}
#info_area{
    margin: 3rem 1.5rem;
}
#cpf_campo{
    margin-left: 5.2rem;
}
#nome_campo{
    margin-left: 0.5rem;
}
#endereco_campo{
    margin-left: 3.2rem;
}