#label_tela{
    margin: 2rem 1.5rem;
}
#info_area{
    margin: 3rem 1.5rem;
}
#CPF_campo{
    margin-left: 6rem;
}
#endereco_campo{
    margin-left: 3.59rem;
}
#nome_campo{
    margin-left: 0.5rem;
}
#senha_area{
    margin-top: 3.15rem;
}