body{
    margin: 0px;
    background-color: rgb(85, 87, 88);
}

#seta{
    max-height: 40px;
    margin :20px 0px 0px 20px;
    cursor: pointer; 
}

.mainPage{
    background-color: rgb(85, 87, 88);
}

.head{
    width: 100%;
    display: inline-flex;
    background-color: rgb(85, 87, 88);
}

.head h1{
    width: 100%;
    text-align: right;
    margin :20px 20px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.tabela{
    margin: 20px 20px 0px 20px;
    background-color: white;
    padding: 40px;
    border-radius: 8px 8px 0px 0px;
    height: 100vh;
}