body{
    margin: 0px;
}

.container{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.options-container{
    background-color: darkgray;
    width:30%;
    height: 100vh;
    padding: 20px 10px;
    position: absolute;
}

.options-container button{
    background-color: white;
    border-width: 0px;
    border-radius: 10px;
    height: 30px;
    width: 60%;
    margin: 10px;
}



.user-section{
    position: absolute;
    width: 100vh;
    justify-content: right;
}

